
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/

.env
.env.*
!.env.example

.ipynb_checkpoints/
*.log

*.csv
*.json
*.parquet

chroma_db_turns3/
chroma_db_*/

.cache/
.cache/**
torch_cache/
sentence_transformers/
huggingface/

.DS_Store
Thumbs.db

task1_queries.csv
task2_queries.csv
*.pdf
